/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  align-items: center;
  background: #FFFDF8;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    width: 1440px;
    height: 80px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.bar-links {
  list-style: none;      /* remove bullet points */
  display: flex;         /* line items up horizontally */
  flex-direction:row;
  gap: 24px;             /* space between links */
  margin: 0;
  padding: 0;
  width: 352px;
  height: 38px;
}

.bar-links a {
  color: black;
  font-size: 1rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.bar-links a:hover {
  color: #555;  /* subtle hover effect */
  font-weight: bold;
}

.photo-container{
    position: relative;
    width: 1440px;
    height: 550px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.photo{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(images/banner_pic.JPG);
    background-size: cover;      /* Make sure image covers container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}

.personal-bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 104px 24px; */
    padding-top: 104px;
    gap: 10px;

    max-width: 1440px;
    width: 100%;
    /* height: 956px; */
    height: auto;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.landing-page-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1000px;
    max-width: 1000px;
    height: 748px;

    margin: 0 auto;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.profile-pic{
    /* profile pic */
    width: 90px;
    height: 90px;

    background: url(images/profile_pic.jpeg);
    background-size: cover;      /* scale to fill */

    border-radius: 50%;  /* this makes the div circular */
    overflow: hidden;    /* ensures nothing spills outside the circle */

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.title{
    width: 193px;
    height: 60px;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    /* identical to box height, or 60px */
    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.job-title{
    /* Job title */

    width: 286px;
    height: 42px;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    /* identical to box height, or 42px */
    display: flex;
    align-items: center;

    color: #1951D2;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.bio{
    /* bio */
    width: 1000px;
    /* height: 484px; */

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */
    display: flex;
    align-items: center;

    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}


.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 23px 55px;
    padding-bottom: 12%;
    gap: 15px;

    width: 1440px;
    height: auto;

    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

}


.skill-bank{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
    padding: 5px 10px;
    gap: 17px;

    width: 70%;
    height: auto;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.text-bubble{
    /* Auto layout */
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
    gap: 10px;

    height: 37px;

    background: #FBE4FA;
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.wrapped-text{
    height: 37px;

    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;

    color: #750DC0;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-bubble1{
    background: #FDF2E8;;
}
.wrapped-text1{
    color: #F76104;
}

.text-bubble2{
    background: #FFEEFC;;
}
.wrapped-text2{
    color: #DA1990;
}

.text-bubble3{
    background: #ECF9FF;;
}
.wrapped-text3{
    color: #1466AE;
}

.footer{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    width: 1440px;
    height: 80px;

    background: #FFFDF8;

    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.footer-content{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 434px;

    width: 1392px;
    height: 38px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.contacts{
    /* Contacts */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    margin: 0 auto;
    width: 333px;
    height: 38px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact-link a{
    width: 145px;
    height: 38px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    flex: none;
    order: 2;
    flex-grow: 0;
    text-decoration: none;
    color: black;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers cards horizontally */
}


.project-card{
    width: fit-content;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-content{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 1000px;
    max-width: 1000px;
    /* height: 740px; */
    height: auto;
    max-height: 740px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.project-thumbnail{
    width: 484px;
    height: 350px;
    background: url(images/shoes.jpg) center/contain no-repeat;

    /* Inside auto layout */
    flex: none center;
    order: 0;
}

.project-thumbnail1{
    width: 484px;
    height: 350px;
    background: url(images/depthAnything.jpg) center/contain no-repeat;

    /* Inside auto layout */
    flex: none center;
    order: 0;
}

.project-thumbnail2{
    width: 484px;
    height: 350px;
    background: url(images/sphere.jpg) center/contain no-repeat;
    /* Inside auto layout */
    flex: none center;
    order: 0;
}

.project-thumbnail3{
    width: 484px;
    height: 350px;
    background: url(images/energy.png) center/contain no-repeat;
    /* Inside auto layout */
    flex: none center;
    order: 0;
}

.project-description{
    /* Description */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 484px;
    /* height: 740px; */
    height: auto;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.project-description-frame{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 484px;
    /* height: 740px; */
    height: auto;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.project-title{
    /* Project title */
    width: 484px;
    height: 76px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 152%;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.project-meta-info{
    width: auto;
    height: 24px;

    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 0%;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.project-text-description{
    /* Project description */

    width: 484px;
    height: auto;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    /* or 190% */

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.project-card + .project-card {
  margin-top: 70px; /* space only between cards */
}

.education-heading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 30px 40px;
    gap: 10px;

    width: 1440px;
    height: 406px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.education-text-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 962px;
    height: 326px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.school-name{
    width: 361px;
    height: 38px;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 95%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bold-text{
    font-weight: bold !important;
}

.sticker{
    width: 388px;
    height: 346px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    background: none;

}